In [ ]:
## This notebook will be designed to observe some statistics around Covid-19

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'C:\\Users\\rahma\\Data690 Stat\\Corona'

In [3]:
DATA_FOLDER = "./CoronaDataSets"

dfLoc = os.listdir(DATA_FOLDER)
dfLoc

['.ipynb_checkpoints', 'locations.csv', 'total_cases.csv']

In [4]:
csv_files = []
for name in dfLoc:
    if name.endswith("v"):
        csv_files.append(name)
        
csv_files

['locations.csv', 'total_cases.csv']

In [7]:
locations = pd.read_csv("CoronaDatasets/locations.csv")

locations.head()

  countriesAndTerritories     location continent  population_year  population
0             Afghanistan  Afghanistan      Asia           2020.0  38928341.0
1                 Albania      Albania    Europe           2020.0   2877800.0
2                 Algeria      Algeria    Africa           2020.0  43851043.0
3                 Andorra      Andorra    Europe           2020.0     77265.0
4                  Angola       Angola    Africa           2020.0  32866268.0

In [ ]:
df_list = []

for csv_file in csv_files:
    print("processing file: ", csv_file)
    df = pd.read_csv(DATA_FOLDER + "/" + csv_file, usecols = ["countriesAndTerritories", "location", "population_year", "population"])
    
    df_list.append(df)

In [ ]:
locations.head